fastapi
uvicorn
google-cloud-videointelligence
google-cloud-vision
google-cloud-speech
google-cloud-storage
python-multipart==0.0.5
moviepy
pillow
celery
ffmpeg-python==0.2.0
sqlalchemy==1.4.31
psycopg2-binary==2.9.3
certifi
python-magic==0.4.27
slowapi
git+https://github.com/openai/whisper.git
opencv-python
numpy

